<div>
  enter num1: <p><input type="number" [(ngModel)]="num1">  </p>
  enter num2: <p><input type="number" [(ngModel)]="num2">  </p>
  <button (click)="onaddition()">+</button>
  <button (click)="onsubtraction()">-</button>
  <button (click)="onmultiplication()">*</button>
  <button (click)="ondivition()">/</button>

  addition : <p> {{ additionresult }} </p>
  subtraction : <p> {{ subtractionresult }} </p>
  multiplication : <p> {{ multiplicationresult }} </p>
  divition : <p> {{ divitionresult }} </p>
</div>